main{
  text-align: center;
  margin-top: 200px;
  button{
    display: inline;
    all:unset;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    #heart-icon{
      color: red;
    }
  }:active{
    transform: scale(0.98);
  }
}